# Local .terraform directories
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Backup files
*.tfstate.backup

# Sensitive files
secrets.auto.tfvars
*.auto.tfvars

# CLI configuration files
.terraformrc
terraform.rc

# Terraform plan files
*.tfplan

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Python bytecode
*.pyc
__pycache__/

#Ec2 public IP
public_ip